
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
#main-container{
    display: flex;
}

/* Apply a basic styling to the header */
header {
    background-color: #f26767;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the navigation inside the header */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

/* Apply a basic styling to the main content */
main {
    padding: 20px;
}

/* Apply a basic styling to the footer */
footer {
    background-color: #ed5454;
    color: #fff;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#american football :hover #bg {
    fill: aqua;
}
.center-container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh; /* Adjust this if needed */
}


/* h1 { text-align: center;
    size: large;
    color: #000000;
    

}@media only screen and (max-width: 600px) {
    nav li {
        display: block;
        margin-bottom: 10px;
    }
} */

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.center-container {
    background-color: violet;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
}

.center-container object {
    max-width: 100%;
    height: auto;
}
